<h1>Listing welcomes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @welcomes.each do |welcome| %>
  <tr>
    <td><%= welcome.name %></td>
    <td><%= link_to 'Show', welcome %></td>
    <td><%= link_to 'Edit', edit_welcome_path(welcome) %></td>
    <td><%= link_to 'Destroy', welcome, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Welcome', new_welcome_path %>
